@import "tailwindcss/preflight";
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Scrollbar Styles */
/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Hide scrollbar when not scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Show scrollbar thumb on hover only */
.scrollable:hover::-webkit-scrollbar-thumb {
  background-color: #666;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
} 